{
   project =
   {
      description="🚶🚶🚶 MulleInvocationQueue runs methods in a separate thread";
      domain="github";
      name="MulleInvocationQueue";
      user="MulleFoundation";
      repo="MulleInvocationQueue";
      homepage="https://github.com/MulleFoundation/MulleInvocationQueue";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🍝 MulleThread sleeps until nudged";
         domain="github";
         name="MulleThread";
         repo="MulleThread";
         url="https://github.com/MulleFoundation/MulleThread";
         user="MulleFoundation";
      },
      {
         description="🧱 MulleFoundationBase amalgamates Foundations projects";
         domain="github";
         name="MulleFoundationBase";
         repo="MulleFoundationBase";
         url="https://github.com/MulleFoundation/MulleFoundationBase";
         user="MulleFoundation";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
